@use 'def/size';
@use 'def/color';

[data-content]
{
    .errorImage
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: size.$gapSmall;
        color: var(--c_text-error);

        > i
        {
            font-size: 100px;
        }
    }
}