@use 'def/size';
@use 'def/color';

[data-content]
{
    .errorBlock
    {
        --bgColor: rgb(215 92 90 / 50%);

        @include color.themeLight
        {
            --textColor: #7e0200;
            --codeBg: #ffe0e0;
        }

        @include color.themeDark
        {
            --textColor: #ffd3d2;
            --codeBg: #3d2323;
        }

        display: flex;
        flex-direction: column;
        gap: size.$gap;

        background: var(--bgColor);
        padding: size.$gap;

        > .title,
        > .errorMsg
        {
            color: var(--textColor);
            line-height: 1;
        }

        > .title
        {
            font-weight: bold;
        }

        > .strBlock
        {
            background: var(--codeBg);
            padding: size.$gap;
            overflow: auto;
        }
    }
}