section.secondary(data-type= contentType)
    .icon
        img(src= icon)

    .dataContainer
        .triangle
        header
            img(src= icon)
            .title!= title
        .content!= content