if (widthCss)
    != widthCss

.image(id= id, class= classes)
    a(href= src, data-pswp-width= width, data-pswp-height= height, data-pswp-single="", target="_blank")
        img(src= src, loading="lazy", data-invertible= invertible ? '' : null, data-width-id= widthId)

    if (caption)
        .caption!= caption