@use 'def/size';
@use 'def/color';

.pswp
{
    .pswp__dynamic-caption--mobile
    {
        font-size: 90%;
        border-top: 1px solid var(--c_border);
        background: var(--c_bg-content-shade);
    }

    .pswp__dynamic-caption
    {
        &, a {
            color: var(--c_text-muted);
        }
    }

    @include color.themeLight
    {
        --pswp-bg: white;
        --pswp-icon-color: #4f4f4f;
        --pswp-icon-color-secondary: white;
    }

    @include color.themeDark
    {
        img[data-invertible]
        {
            filter: hue-rotate(180deg) invert(100%);
        }
    }
}

[data-content]
{
    .image
    {
        display: flex;
        flex-direction: column;
        gap: size.$gap;

        align-items: center;

        > a { display: contents; }

        img
        {
            display: block;
            max-width: 100%;
            aspect-ratio: auto;
            margin: auto;

            &[data-invertible]
            {
                @include color.themeDark
                {
                    filter: hue-rotate(180deg) invert(100%);
                }
            }
        }

        > .caption
        {
            text-align: center;
            font-size: 90%;
            color: var(--c_text-muted);

            a
            {
                --textColor: var(--c_text-muted) !important;
                --underlineColor: var(--c_text-muted) !important;
                --highlightColor: var(--c_bg-content-shade) !important;
            }
        }
    }

    @at-root
    {
        .pswp__dynamic-caption--below,
        .pswp__dynamic-caption--mobile
        {
            max-width: 100% !important;
            padding: size.$gapBig !important;
            font-family: "Open Sans", sans-serif;
            text-align: center;
        }

        .pswp__dynamic-caption--mobile
        {
            padding: size.$gap !important;
        }
    }
}