@use "sass:string";

@use 'def/size';
@use 'def/color';
@use 'def/bp';
@use 'include/scroll';

[data-content]
{
    .mathDisplay.error
    {
        background: rgba(255, 0, 0, 0.2);
        border: 1px solid rgb(125, 0, 0);
        padding: size.$gap;
    }
    
    .katex-display
    {
        //margin: -10px 0;
        //.base { margin: 15px 0; }

        .katex-html .base
        {
            margin-bottom: 15px;
            &:last-child { margin-bottom: 0; }
        }

        overflow: hidden;
        overflow-x: auto;

        @extend %scrollbar;

        &::-webkit-scrollbar
        {
            height: 7px;

            @include bp.max(mini)
            {
                height: 5px;
            }
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: size.$borderRadius;
        }
    }

    .mathDisplay .katex > .katex-html
    {
        white-space: normal;
    }

    //
    //
    //

    $katexColorMap: (
        100000:     red,
        200000:     green,
        300000:     blue,
        400000:     yellow,
    );

    @each $katexCode, $cssVarCode in $katexColorMap
    {
        .katex [style*=#{("\"#" + $katexCode + "\"")}] { color: var(--kc_#{$cssVarCode}) !important; }
    }

    .katex
    {
        --kc_blue:   #0f82ff;
        --kc_red:    #d73737;
        --kc_green:  #59ae1c;
        --kc_yellow: #c99029;

        @include color.themeDark
        {
            --kc_blue:  #4aa0df;
            --kc_red:   #fc6255;
            --kc_green: #83c167;
            --kc_yellow:#c1a267;
        }
    }
}