@use 'def/color';
@use 'def/size';
@use 'def/bp';
@use 'include/util';

[data-content] figure
{
    &,
    > .figureContent
    {
        max-width: 100%;
    }

    &,
    > .figureContent,
    > figcaption
    {
        margin-left: auto;
        margin-right: auto;
    }

    figcaption
    {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        margin-top: size.$gap;
        color: var(--c_text-muted);

        .mathInline
        {
            color: inherit !important;
        }

        .main
        {
            line-height: 1.1rem;

            > a
            {
                font-size: .8em;
                font-weight: 600;
                color: var(--c_text-muted) !important;
                text-decoration-color: transparent;
    
                @include util.transition(text-decoration-color);
    
                &:hover,
                &:active
                {
                    text-decoration-color: inherit;
                }
            }
            
            > i
            {
                margin-left: 7.5px;
                font-size: 11px;
                color: var(--c_text-dimmed);
            }
        }

        .secondary
        {
            font-size: .75em;
        }

        @include bp.max(mini)
        {
            .main > a,
            .secondary
            {
                font-size: .75em;
            }
        }
    }
}

//
// Image + Video
//

[data-content] figure > .figureContent,
.pswp
{
    img,
    video
    {
        display: block;
        max-width: 100%;
        @include util.transition(filter);

        &[data-invert="light"]
        {
            @include color.themeLight { filter: hue-rotate(180deg) invert(100%); }
        }

        &[data-invert="dark"]
        {
            @include color.themeDark { filter: hue-rotate(180deg) invert(100%); }
        }
    }
}

//
// Image
//

.pswp
{
    .pswp__dynamic-caption
    {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;

        &, a
        {
            font-family: "Open Sans", sans-serif;
            color: black;

            @include color.themeDark
            {
                color: white;
            }
        }

        a
        {
            text-decoration: underline;
            text-decoration-color: transparent;
            &:hover { text-decoration-color: inherit; }
        }

        > .main
        {
            > i
            {
                opacity: .5;
                margin-left: 7.5px;
                font-size: 11px;
                position: relative;
                top: 1px;
            }
        }

        > .secondary
        {
            font-size: 90%;
            opacity: .65;
        }

        &--mobile
        {
            background: transparent;
            text-align: center;
        }

        @include bp.max(mini)
        {
            .main > a,
            .secondary
            {
                font-size: .8em;
            }
        }
    }

    @include color.themeLight
    {
        --pswp-bg: white;
        --pswp-icon-color: #4f4f4f;
        --pswp-icon-color-secondary: white;
    }

    @include color.themeDark
    {
        --pswp-bg: #2d2d2d;
    }
}

[data-content] figure[data-type="image"] > .figureContent
{
    img
    {}
}

//
// Video
//

[data-content] figure[data-type="video"] > .figureContent
{
    video
    {}
}